.js-jabara-title {
    position: relative;
}

.js-jabara-title::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 1px;
  height: 1px;
  margin: auto 0;
  border-width: 9px 9px 0 9px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
  content: "";
}

.js-jabara-title.is-open::after {
  border-top: 0;
  border-bottom: 9px solid #ccc;
}

.js-jabara-content {
  height: 0;
  overflow: hidden;
  transition-transition-property: height;
  transition-timing-functin: linear;
}

.js-jabara-arrow-none::after {
  content: none;
}
